<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cw.authoritymng.dao.mapper.AmResourceMapper">
  <resultMap id="BaseResultMap" type="com.cw.authoritymng.dao.model.AmResource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="resource_code" jdbcType="VARCHAR" property="resourceCode" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="resource_desc" jdbcType="VARCHAR" property="resourceDesc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, app_id, resource_name, resource_code, parent_code, resource_desc, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from am_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from am_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cw.authoritymng.dao.model.AmResource">
    insert into am_resource (id, app_id, resource_name, 
      resource_code, parent_code, resource_desc, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{appId,jdbcType=INTEGER}, #{resourceName,jdbcType=VARCHAR}, 
      #{resourceCode,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR}, #{resourceDesc,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cw.authoritymng.dao.model.AmResource">
    insert into am_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="resourceName != null">
        resource_name,
      </if>
      <if test="resourceCode != null">
        resource_code,
      </if>
      <if test="parentCode != null">
        parent_code,
      </if>
      <if test="resourceDesc != null">
        resource_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="resourceName != null">
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceCode != null">
        #{resourceCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="resourceDesc != null">
        #{resourceDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cw.authoritymng.dao.model.AmResource">
    update am_resource
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="resourceName != null">
        resource_name = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceCode != null">
        resource_code = #{resourceCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="resourceDesc != null">
        resource_desc = #{resourceDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cw.authoritymng.dao.model.AmResource">
    update am_resource
    set app_id = #{appId,jdbcType=INTEGER},
      resource_name = #{resourceName,jdbcType=VARCHAR},
      resource_code = #{resourceCode,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      resource_desc = #{resourceDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>