<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cw.authoritymng.dao.mapper.AmUiMapper">
  <resultMap id="BaseResultMap" type="com.cw.authoritymng.dao.model.AmUi">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="ui_code" jdbcType="VARCHAR" property="uiCode" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="ui_name" jdbcType="VARCHAR" property="uiName" />
    <result column="ui_key" jdbcType="VARCHAR" property="uiKey" />
    <result column="ui_type" jdbcType="INTEGER" property="uiType" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="ui_desc" jdbcType="VARCHAR" property="uiDesc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, app_id, ui_code, parent_code, ui_name, ui_key, ui_type, weight, ui_desc, create_time, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.cw.authoritymng.dao.model.AmUiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from am_ui
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from am_ui
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from am_ui
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cw.authoritymng.dao.model.AmUiExample">
    delete from am_ui
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cw.authoritymng.dao.model.AmUi">
    insert into am_ui (id, app_id, ui_code, 
      parent_code, ui_name, ui_key, 
      ui_type, weight, ui_desc, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{appId,jdbcType=INTEGER}, #{uiCode,jdbcType=VARCHAR}, 
      #{parentCode,jdbcType=VARCHAR}, #{uiName,jdbcType=VARCHAR}, #{uiKey,jdbcType=VARCHAR}, 
      #{uiType,jdbcType=INTEGER}, #{weight,jdbcType=INTEGER}, #{uiDesc,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cw.authoritymng.dao.model.AmUi">
    insert into am_ui
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="uiCode != null">
        ui_code,
      </if>
      <if test="parentCode != null">
        parent_code,
      </if>
      <if test="uiName != null">
        ui_name,
      </if>
      <if test="uiKey != null">
        ui_key,
      </if>
      <if test="uiType != null">
        ui_type,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="uiDesc != null">
        ui_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="uiCode != null">
        #{uiCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="uiName != null">
        #{uiName,jdbcType=VARCHAR},
      </if>
      <if test="uiKey != null">
        #{uiKey,jdbcType=VARCHAR},
      </if>
      <if test="uiType != null">
        #{uiType,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="uiDesc != null">
        #{uiDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cw.authoritymng.dao.model.AmUiExample" resultType="java.lang.Long">
    select count(*) from am_ui
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update am_ui
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=INTEGER},
      </if>
      <if test="record.uiCode != null">
        ui_code = #{record.uiCode,jdbcType=VARCHAR},
      </if>
      <if test="record.parentCode != null">
        parent_code = #{record.parentCode,jdbcType=VARCHAR},
      </if>
      <if test="record.uiName != null">
        ui_name = #{record.uiName,jdbcType=VARCHAR},
      </if>
      <if test="record.uiKey != null">
        ui_key = #{record.uiKey,jdbcType=VARCHAR},
      </if>
      <if test="record.uiType != null">
        ui_type = #{record.uiType,jdbcType=INTEGER},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=INTEGER},
      </if>
      <if test="record.uiDesc != null">
        ui_desc = #{record.uiDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update am_ui
    set id = #{record.id,jdbcType=INTEGER},
      app_id = #{record.appId,jdbcType=INTEGER},
      ui_code = #{record.uiCode,jdbcType=VARCHAR},
      parent_code = #{record.parentCode,jdbcType=VARCHAR},
      ui_name = #{record.uiName,jdbcType=VARCHAR},
      ui_key = #{record.uiKey,jdbcType=VARCHAR},
      ui_type = #{record.uiType,jdbcType=INTEGER},
      weight = #{record.weight,jdbcType=INTEGER},
      ui_desc = #{record.uiDesc,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cw.authoritymng.dao.model.AmUi">
    update am_ui
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="uiCode != null">
        ui_code = #{uiCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="uiName != null">
        ui_name = #{uiName,jdbcType=VARCHAR},
      </if>
      <if test="uiKey != null">
        ui_key = #{uiKey,jdbcType=VARCHAR},
      </if>
      <if test="uiType != null">
        ui_type = #{uiType,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="uiDesc != null">
        ui_desc = #{uiDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cw.authoritymng.dao.model.AmUi">
    update am_ui
    set app_id = #{appId,jdbcType=INTEGER},
      ui_code = #{uiCode,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      ui_name = #{uiName,jdbcType=VARCHAR},
      ui_key = #{uiKey,jdbcType=VARCHAR},
      ui_type = #{uiType,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      ui_desc = #{uiDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>